.btn {
  display: inline-flex;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;

  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);

  &:hover {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  .icon {
    width: calc(1.5 * $scaled-font-size);
    height: calc(1.5 * $scaled-font-size);
    line-height: 1;
    margin: 0 calc(-1 * #{$input-btn-line-height-extra-y-half});
    flex-shrink: 0;
  }

  .icon + span {
    text-indent: $input-btn-line-height-extra-y-half;
    &::before {
      content: '';
      padding-left: $input-btn-padding-x;
    }
  }
}


@include mode("default") {
  .btn-fill,
  .btn-outline.active {
    color: var(--ui-text-color-inactive);
    fill: var(--ui-text-color-inactive);
    background-color: var(--ui-color);

    &:hover,
    &:active,
    &.active:not(.btn-outline),
    &:focus-visible {
      color: var(--ui-text-color);
      fill: var(--ui-text-color);
    }
    &:hover {
      background-color: var(--dark-1);
    }
    &:active,
    &.active:not(.btn-outline) {
      background-color: var(--dark-2);
    }

    &:disabled,
    &.disabled {
      fill: $btn-link-disabled-color;
      background-color: $btn-disabled-color;
    }
  }

  %btn-ghost {
    color: var(--ui-color);
    fill: var(--ui-color);

    &:hover,
    &:focus {
      color: var(--dark-1);
      fill: var(--dark-1);
      background-color: rgba(var(--ui-color-rgb), 0.07);
    }
    &:active,
    &.active {
      color: var(--dark-2);
      fill: var(--dark-2);
      background-color: rgba(var(--ui-color-rgb), 0.14);
    }

    .btn-check:checked + & {
      color: var(--ui-text-color-inactive);
      fill: var(--ui-text-color-inactive);
      background-color: var(--ui-color);

      &:hover,
      &:focus,
      &:active {
        color: var(--ui-text-color);
        fill: var(--ui-text-color);
      }
      &:hover {
        background-color: var(--dark-1);
      }
      &:active,
      &.active {
        background-color: var(--dark-2);
      }
    }

    .btn-check:active + &,
    .btn-check:checked + &:active {
      color: var(--ui-text-color);
      background-color: var(--dark-2);
    }

    &:disabled,
    &.disabled {
      border-color: $btn-disabled-color;
      color: $btn-disabled-color;
      fill: $btn-disabled-color;
      background-color: transparent;
    }
  }

  .btn-ghost {
    @extend %btn-ghost;
  }

  .btn-outline {
    @extend %btn-ghost;
    border-color: var(--ui-color);

    &:hover,
    &:focus {
      border-color: var(--dark-1);
    }
    &:active,
    &.active {
      border-color: var(--dark-2);
    }
    &:disabled,
    &.disabled {
      border-color: $btn-disabled-color;
    }
  }
}

@include mode("hcDark") {
  .btn-fill,
  .btn-outline.active {
    color: var(--ui-color);
    fill: var(--ui-color);
    border-color: var(--ui-color);
    background-color: var(--bs-body-bg);

    &:hover,
    &:active,
    &.active:not(.btn-outline),
    &:focus-visible {
      color: var(--black);
      fill: var(--black);
      border-color: var(--light-2);
      background-color: var(--true-gray-400);
    }

    &:disabled,
    &.disabled {
      color: $btn-disabled-color;
      fill: $btn-disabled-color;
      border-color: $btn-disabled-color;
    }
  }

  %btn-ghost {
    color: var(--ui-color);
    fill: var(--ui-color);

    &:hover,
    &:focus {
      color: var(--dark-1);
      fill: var(--dark-1);
      background-color: rgba(var(--ui-color-rgb), 0.07);
    }
    &:active,
    &.active {
      color: var(--dark-2);
      fill: var(--dark-2);
      background-color: rgba(var(--ui-color-rgb), 0.14);
    }

    .btn-check:checked + & {
      color: var(--ui-text-color-inactive);
      fill: var(--ui-text-color-inactive);
      background-color: var(--ui-color);

      &:hover,
      &:focus,
      &:active {
        color: var(--ui-text-color);
        fill: var(--ui-text-color);
      }
      &:hover {
        background-color: var(--dark-1);
      }
      &:active,
      &.active {
        background-color: var(--dark-2);
      }
    }

    .btn-check:active + &,
    .btn-check:checked + &:active {
      color: var(--ui-text-color);
      background-color: var(--dark-2);
    }

    &:disabled,
    &.disabled {
      border-color: $btn-disabled-color;
      color: $btn-disabled-color;
      fill: $btn-disabled-color;
    }
  }

  .btn-ghost {
    @extend %btn-ghost;
  }

  .btn-outline {
    @extend %btn-ghost;
    border-color: var(--ui-color);

    &:hover,
    &:focus {
      border-color: var(--dark-1);
    }
    &:active,
    &.active {
      border-color: var(--dark-2);
    }
    &:disabled,
    &.disabled {
      border-color: $btn-disabled-color;
      background-color: var(--gray-200);
    }
  }
}


.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
  .icon {
    width: calc(1.5 * $font-size-lg * $font-size-scale);
    height: calc(1.5 * $font-size-lg * $font-size-scale);
    margin: 0 calc(-1 * $input-btn-line-height-extra-y-half-lg);
  }

  .icon + span {
    text-indent: $input-btn-line-height-extra-y-half-lg;
  }

}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  .icon {
    width: calc(1.5 * $font-size-sm);
    height: calc(1.5 * $font-size-sm * $font-size-scale);
    margin: 0 calc(-1 * $input-btn-line-height-extra-y-half-sm);
  }

  .icon + span {
    text-indent: $input-btn-line-height-extra-y-half-sm;
  }
}