@use "sass:math";

@font-face {
  font-family: Segoe;
  src: local("Segoe UI Variable"), local("Segoe UI");
}
@font-face {
  font-family: Google;
  src: local("Roboto Flex"), local("Roboto");
}
@font-face {
  font-family: Apple;
  src: local("SF Pro");
}

:root {
  /* Custom */
  --ui-text-color-inactive: var(--gray-200);
  --bs-gutter-x: #{fnScaleLinearPx(16px, 32px)};
  --line-height-extra-y: calc(var(--scaled-font-size) * #{$line-height-base - 1});
  --line-height-extra-y-half: calc(var(--scaled-font-size) * #{math.div($line-height-base - 1, 2)});
  --font-family-sans-serif: Segoe, Apple, Google;

  /* Built-in */
  --#{$variable-prefix}font-family-sans-serif:   #{inspect($font-family-sans-serif)};
  --#{$variable-prefix}font-family-monospace:    #{inspect($font-family-monospace)};
  --#{$variable-prefix}font-family-serif:        #{inspect($font-family-serif)};

  --#{$variable-prefix}body-font-family: #{$font-family-base};
  --#{$variable-prefix}body-font-size: var(--font-size);
  --#{$variable-prefix}body-font-weight: #{$font-weight-base};
  --#{$variable-prefix}body-line-height: #{$line-height-base};

  --#{$variable-prefix}body-bg: #{$body-bg};
  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}link-color: #{$link-color};
  --#{$variable-prefix}link-hover-color: #{$link-hover-color};
  --#{$variable-prefix}link-active-color: #{$link-active-color};

  /* Variables overridden by HC themes */
  --body-color: var(--bs-body-color);
  --body-bg: var(--bs-body-bg);
  --link-color: var(--bs-link-color);
  --link-hover-color: var(--bs-link-hover-color);
  --link-active-color: var(--bs-link-active-color);
  --link-outline-color: var(--ui-outline-color);
}

:root, .scaled, .fullSize {
  --input-height: #{$input-height};
  --input-height-sm: #{$input-height-sm};
  --input-height-lg: #{$input-height-lg};
  --scaled-font-size-sm: #{$scaled-font-size-sm};
  --scaled-font-size-lg: #{$scaled-font-size-lg};
}


