@import "bootstrap-subset";

/* Global  ----------------------------------------------------------------- */
body {
  --page-margin-bottom: calc(var(--font-size) * 5);
}

main {
  // padding: var(--ui-padding-y) 0;
  margin-bottom: var(--page-margin-bottom);
}

h1 {
  font-weight: var(--h1-font-weight, 400);
}
h2 {
  font-weight: var(--h2-font-weight, 400);
}
h3 {
  font-weight: var(--h3-font-weight, 400);
}
h4 {
  font-weight: var(--h4-font-weight, 400);
}
h5 {
  font-weight: var(--h5-font-weight, 400);
}