@import "bootstrap-subset";

/* Global  ----------------------------------------------------------------- */
* {
  text-size-adjust: none;
}
body {
  --page-margin-bottom: calc(var(--font-size) * 5);
  overflow-y: scroll;
  &.no-transitions,
  &.no-transitions * {
    transition: none !important;
    transition-delay: 0s !important;
  }
}

main {
  // padding: var(--ui-padding-y) 0;
  margin-bottom: var(--page-margin-bottom);
}

h1 {
  font-weight: var(--h1-font-weight, 400);
}
h2 {
  font-weight: var(--h2-font-weight, 400);
}
h3 {
  font-weight: var(--h3-font-weight, 400);
}
h4 {
  font-weight: var(--h4-font-weight, 400);
}
h5 {
  font-weight: var(--h5-font-weight, 400);
}

svg.icon {
  width: var(--scaled-font-size);
  height: var(--scaled-font-size);
}
svg.icon-lg {
  width: var(--scaled-font-size-lg);
  height: var(--scaled-font-size-lg);
}

#primaryNav {
  button.back {
    margin-left: calc(-1 * $btn-padding-x + 4px)
  }

  .navbar-brand {
    text-overflow: ellipsis;
  }
}

.top-block {
  background-color: var(--panel-bg);
  @extend .mt-0;
  @extend .mb-3;
  @extend .pt-3;
  @extend .pb-3;
  @extend .border-bottom;
  border-color: var(--panel-border-bolor);
  --bs-body-color: var(--panel-text-color);

  h1, .h1 {
    &:not([class*="mb-"]) {
      @extend .mb-3;
    }
  }
}

body:not(.chonk) {
  ul.markerWidth {
    padding-left: max(2rem, var(--marker-width));
  }
}
body.chonk {
  ul.markerWidth {
    padding-left: 0;
    li {
      list-style-position: inside;
      line-height: 1.2;
      padding-top: calc(var(--scaled-font-size) * 0.15);
      padding-bottom: calc(var(--scaled-font-size) * 0.15);
    }
  }
}

mark {
  padding: 0 0.15em;
  margin: 0 -0.15em;
  font-weight: 500;
  background-color: transparent;
  color: var(--true-black);;
}
a mark {
  color: inherit;
}

.hymnal-label {
  text-transform: uppercase;
  font-size: var(--scaled-font-size-sm);
  color: var(--gray-600);
  line-height: 1;
  .dropdown-item.active &, 
  .dropdown-item:active & {
     color: var(--gray-400);
  }
}